@model IEnumerable<WebsiteBanSach.Models.EF.Category>

@if (Model != null && Model.Any())
{
<ul class="menu_top_nav">

    @foreach (var item in Model)
    {
        <li class="menu_item has-children">
            <a href="/@item.Alias">@item.Title</a>
        </li>
    }

    <li class="menu_item has-children">
        <a href="#">
            My Account
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="menu_selection">
            <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
            <li><a href="/"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
        </ul>
    </li>

</ul>
   

}


